/* Component-wise Grid Definition */

/* Homepage Grid layout */
.homeGrid {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-template-areas:
    " . nav nav nav nav nav nav nav nav nav nav . "
    " mainImg mainImg mainImg mainImg mainImg mainImg mainImg mainImg mainImg mainImg mainImg mainImg"
    " mainDesc mainDesc mainDesc mainDesc mainDesc mainDesc mainDesc mainDesc mainDesc mainDesc mainDesc mainDesc "
    " about about about about about about opening opening opening opening opening opening"
    " leaderboard leaderboard leaderboard leaderboard leaderboard leaderboard leaderboard leaderboard leaderboard leaderboard leaderboard leaderboard"
    " . foot foot foot foot foot foot foot foot foot foot . ";
}

/* Table Details layout */
.tableGrid {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-template-areas:
      " largeTitleImg largeTitleImg largeTitleImg largeTitleImg largeTitleImg largeTitleImg largeTitleImg largeTitleImg largeTitleImg largeTitleImg largeTitleImg largeTitleImg " 
      " altTitleDesc altTitleDesc altTitleDesc altTitleDesc altTitleDesc altTitleDesc altTitleDesc altTitleDesc altTitleDesc altTitleDesc altTitleDesc altTitleDesc"
      " titleForm titleForm titleForm titleForm titleForm titleForm titleForm titleForm titleForm titleForm titleForm titleForm"
      " tableForm tableForm tableForm tableForm tableForm tableForm pixelImg pixelImg pixelImg pixelImg pixelImg pixelImg "
      " contactsForm contactsForm contactsForm contactsForm contactsForm contactsForm contactsForm contactsForm contactsForm contactsForm contactsForm contactsForm "
      " button button button button button button button button button button button button"
      " . contactsNextBtn contactsNextBtn contactsNextBtn contactsNextBtn contactsNextBtn contactsCancelBtn contactsCancelBtn contactsCancelBtn contactsCancelBtn contactsCancelBtn ." 
}


/* Parent container & overall definition */
#appContainer {
  display: grid;
  grid-template-areas: 
  "header header header"
  "content content content"
  "footer footer footer"
  "footnote footnote footnote";
  height: 100%;
}

#contentContainer {
  grid-area: content;
}

#contentContainer > article, #contentContainer > section, #contentContainer > main {
  margin: 5px;
}

.homeGrid > article, .homeGrid > section, .homeGrid > main {
  padding: 10vh;
}

section > h2, article > h2, .homeGrid > h2 {
  padding-bottom: 5vh;
}

/* Grid layout config with Flexbox used as container config */
/* Header */
header {
  grid-area: header;
  position: sticky;
  align-self: start;
  z-index: 2;
  top:0;
  width: 100%;
}

.navGrid {
  grid-area: nav;
  display: flex;
  justify-content: center;
}

.navbar {
  gap: 30px;
  justify-content: center !important;
}

.navbar-toggler {
  background-color: white !important;
}

.navbar-collapse {
  margin-left: 30px;
}

/* Footer */
#footer {
  grid-area: footer;
  padding: 5vh 0 5vh 0;
}

.footerLogo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#footLogo {
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none !important;
}

#foot {
  grid-area: foot;
}

#copyright {
  grid-area: footnote;
}

#subscribeSuccessful {
  padding: 20px 0 40px 0;
}

/*---------------------------------------------------------------------------*/


/* HOMEPAGE */

/* Hero Section */
.mainImg {
  grid-area: mainImg;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-height: 50vh;
  margin-bottom: 5px;
}

.mainDesc {
  grid-area: mainDesc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* About */
#aboutSection {
  padding: 10vh;
}

.aboutUs {
  padding: 0 5vh 0 0 !important;
  grid-area: about;
}

.openingHours {
  padding: 0 0 0 5vh !important;
  grid-area: opening;
}

.openingTimeTable {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 4px solid black;
  padding: 30px;
  position: relative;
  gap: 8px;
}

.openingTimeTable > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#time6 {
  padding-bottom: 30px;
}

.pacman {
  margin-top: auto;
}

/* Activities */
#activitySection {
  display: flex;
  flex-direction: column;
  padding: 10vh;
}

#activitySection > p:last-of-type {
  padding-bottom: 7.5vh;
}

.galleryWrapper {
  padding: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.activity {
  flex: 1;
  height: 50vh;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  filter: sepia();

  &:hover {
    filter: none;
    flex: 7;
  }
}

/* Leaderboard */
#leaderboardSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10vh;
  text-align: center;
}

#leaderboardSection p:last-of-type {
  padding-bottom: 20px;
}

.leaderboard {
  width: 80%;
  height: auto;
}

#carouselSection {
  display: grid;
  justify-content: end;
  align-content: space-evenly;
  padding: 10% 10% 10% 0;
}

#leaderboardBlock {
  position: relative;
  display: grid;
  padding: 20px;
  grid-template-columns:  20% 1fr 30%;
  grid-template-areas: 
  " title title title "
  " tRank tName tScore "
  " rank name score ";
  z-index: 1;
  width: 40vh;
}

#leaderboardBlock > div {
  display: flex;
  flex-direction: row;
}

#playerData {
  display: grid;
  grid-template-columns: 1fr;
}

#carouselTitle {
  grid-area: title;
}

#rank {
  grid-area: tRank;
}

#name {
  grid-area: tName;
}

#score {
  grid-area: tScore;
}

#carouselRank {
  grid-area: rank;
}

#carouselName {
  grid-area: name;
}

#carouselScore {
  grid-area: score;
}

/* Tournaments */
#tournamentSection {
  display: flex;
  flex-direction: column;
  padding: 10vh;
}

.tournaments {
  padding: 0vh 7.5vh 7.5vh 7.5vh !important;
  text-align: center;
}

.tournaments p {
  padding-bottom: 20px;
}

.tournamentCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0vh 7.5vh 7.5vh 7.5vh !important;
  column-gap: 7.5vh;
}

.cardEffect {
  filter: opacity(0.1);
}

.cardEffect:hover {
  filter: none;
}

.card-title {
  padding-bottom: 20px;
}

.card-text {
  display: flex;
  flex-direction: column;
}

#tournamentInfoText > div {
  padding-bottom: 10px;
}

/* Pricing */
#pricingSection {
  display: flex;
  flex-direction: column;
  padding: 10vh;;
}

.moreInfoText {
  padding-bottom: 5vh !important;
} 

/*---------------------------------------------------------------------------*/


/* BOOKING PAGE */

/* Title */
#startBookingTitle, #finishBooking {
  padding: 0;
}

#startBookingTitle h1 {
  padding-bottom: 5vh;
}

.largeTitleImg {
  width: 100%;
  grid-area: largeTitleImg;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  max-height: 50vh;
  margin-bottom: 5px;
}

.altTitleDesc {
  grid-area: altTitleDesc;
  padding: 10vh;
}


/* Form */
#tableGridContainer {
  padding: 10vh;
}

#divTable {
  width: 100%;
}

.titleForm {
  grid-area: titleForm;
}

.tableForm {
  grid-area: tableForm;
  margin-bottom: 5vh;
  max-width: 100%;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: repeat(6, 1fr);
  gap: 2vh; 
  align-items: center;
}

.formGrid label,
.formGrid input,
.formGrid select {
  max-width: 100%; 
  max-height: 100%;
}

.gif {
  max-width: 100%;
  max-height: auto;
}

.pixelImg {
  grid-area: pixelImg;
  display: grid;
  column-gap: 5%;
  grid-template-columns: repeat(3, 1fr);
}

.placeHolder {
  max-width: 100%;
}

.formButtons {
  grid-area: button;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20%;
  flex-wrap: wrap;
}

.editButton {
  margin-left: 10%;
}

.iconTitle {
  display: flex;
  align-items: center;
  gap: 3vh;
}

.checkGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: repeat(5, 1fr);
  gap: 4vh; 
  align-items: center;
}

.contactNames {
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 2vh;
  max-width: 100%;
}

.contactLayout {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  row-gap: 2vh;
}

.contactLayout input, .contactLayout label {
  box-sizing: border-box;
  width: 100%;
}

.contactsForm {
  grid-area: contactsForm;
  max-width: 100%;
}

.contactGrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: auto;
  width: 100%;
  row-gap: 2vh;
  padding-bottom: 4vh;
}

#finishBooking {
  padding-bottom: 5vh;
}

.contactsNextBtn {
  grid-area: contactsNextBtn;
  width: 60% !important;
  margin-left: 10vh;
}

.contactsCancelBtn {
  grid-area: contactsCancelBtn;
  width: 60% !important;
  margin-left: 10vh;
}



/*---------------------------------------------------------------------------*/


/* SMALL SCREEN */

/* Smaller screens: Grid scaling and other actions to improve visuals */
@media screen and (max-width: 740px) {
  .homeGrid {
    display: grid;
      max-width: 100%;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      grid-template-areas:
      " nav nav nav nav "
      " mainImg mainImg mainImg mainImg "
      " mainDesc mainDesc mainDesc mainDesc "
      " about about about about "
      " opening opening opening opening"
      " leaderboard leaderboard leaderboard leaderboard"
      " foot foot foot foot ";
  }
  .tableGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    padding: 5vh;
    align-items: center;
    justify-items: center;
    grid-template-areas:
      "largeTitleImg largeTitleImg largeTitleImg largeTitleImg"
      " largeTitleImg largeTitleImg largeTitleImg largeTitleImg "
      " altTitleDesc altTitleDesc altTitleDesc altTitleDesc"
      " titleForm titleForm titleForm titleForm "
      " tableForm tableForm pixelImg pixelImg"
      " contactsForm contactsForm contactsForm contactsForm "
      " button button button button "
      " contactsNextBtn contactsNextBtn contactsCancelBtn contactsCancelBtn " 
  }

  #appContainer {
    width: 100%;
  }
  .navbar {
    gap: 0;
  }

  .navbar img {
    height: 40px;
  }

  h1 {
    text-align: center;
  }

  #footSignup {
    margin-bottom: 0 !important;
  }

  #footLogo {
    margin-top: 20px;
    margin-bottom: 40px !important;
  }

  .footerLogo {
    padding: 0 100px 0 100px;
  }

  #footBlockLinks {
    margin-bottom: 40px;
  }

  #footBlockContact {
    margin-bottom: 0 !important;
  }

  #aboutSection, #activitySection, #leaderboardSection, #tournamentSection, #pricingSection {
    padding: 40px !important;
  }

  .mainImg {
    max-height: 60vh;
  }

  .openingHours {
    padding-left: 0 !important;
  }

  .galleryWrapper {
    flex-wrap: wrap;
    row-gap: 0;
  }

  #leaderboardBlock {
    width: 250px;
  }

  #leaderboardBlock > * {
    padding: 2px;
  }

  .leaderboard {
    width: 100%;
  }

  .tournamentCards {
    grid-template-columns: 1fr 1fr;
    row-gap: 7.5vh;
  }

  article section {
    margin-top: 5vh;
  }

  .formGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    align-items: center;
    justify-items: stretch;
    width: 600px;
    max-width: 100%;
    gap: 4vh; 
  }

  .tableForm {
    width: 400px;
  }

  .tableCancelBtn, .tableNextBtn {
    width: 100% !important;
  }

  .editButton {
    margin-left: 5vh !important;
  }

  .contactsNextBtn, .contactsCancelBtn {
    width: 80% !important;
    margin: 0;
  }

  .lastButtons {
    height: 50px !important;
    width: 300px !important;
  }

  .titleForm {
    margin-bottom: 5vh
  }

  svg {
    width: 30px;
  }
  
  .iconTitle {
    display: grid;
    grid-template-columns: 15% 50vw;
    gap: 0;
  }

  .react-datepicker__portal {
    min-width: 100%;
  }

  .react-datepicker__input-container {
    box-sizing: border-box;
  }

  .tableCancelBtn, .contactsCancelBtn {
    margin-top: 4vh;
  }

  .checkGrid {
    padding: 0;
  }
  
  .contactGrid {
    grid-template-rows: repeat(6, auto);
    min-width: 80vw;
  }

  .contactNames {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2vh;
  }
}
