@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text');


h1 {
    font-family: "Markazi text";
    color:#F4CE14;
    font-weight: 500;
    font-size: 64px;
}

h2 {
    font-family: "Markazi text";
    font-weight: 400;
    font-size: 40px;
}

h3 {
    font-family: "Karla";
    font-size: 18px;
    font-weight: 800;
}

h4 {
    font-family: "Karla";
    font-size: 16px;
    font-weight: 600;
}

.title_desc h1, h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.title_desc h2, p {
    color:white;
}

.title_desc button {
    margin-top: 5vh;
}

.title_desc p {
    font-family: "Karla";
    font-size: 18px;
    font-weight: 500;
}

.navType {
    font-family: "Karla";
    font-size: 18px;
    font-weight: 700;
    color: black;
}

#heroSection {
    background-color: #495E57;
}

.home_img {
    max-width: 65%;
    min-width: 200px;
    border-radius: 16px;
}

.sp_card img{
    width:100%;
    height: 170px;
    object-fit:cover;
    border-radius: 16px 16px 0 0;
}

.sp_card p {
    color: black;
}

.sp_card section {
    background-color: #EDEFEE;
    border-radius: 16px 16px 0 0;
    border: 1px solid black;
}

.sp_card h3,
.sp_card p,
.sp_card h4 {
    padding: 0vh 2vh 0vh 2vh;
}

.sp_title, .sp_button {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.sp_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Button styling */
button {
    max-width: 50%;
    min-width: 200px;
    padding: 1vh;
    border-radius: 8px;
    font-family: "Karla";
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#blackButton {
    background-color: black;
    color: white;
}

#blackButton:hover {
    border: black 2px solid;
    background-color: #F4CE14;
    color: black;
}

.footTitle {
    font-family: "Karla";
    font-size: 16px;
    font-weight: 600;
    color: white;
}

footer li {
    font-family: "Karla";
    font-size: 16px;
    font-weight: 400;
}


a {
    text-decoration: none;
}

header a {
    color: black;
}

footer a {
    color: white;
}

header a:visited { 
    color:black; 
}

footer a:visited { 
    color:white; 
}

header a:hover { 
    background-color: "";
    color:#F4CE14;
}

footer a:hover { 
    background-color: "";
    color:#F4CE14;
}

.logo {
    width: 80%;
}

.footer_logo {
    width: 80%;
}

footer {
    background-color: #495E57;
}