@import url('https://fonts.googleapis.com/css?family=Karla');

.cardTitle {
    font-family: "Karla";
    font-size: 18px;
    font-weight: 700;
    color: black;
}

a {
    text-decoration: none;
 }

a:visited { 
    color:black; 
}

a:hover, a:active { 
    background-color: "";
    color:#F4CE14;
}

.logo {
    max-width: 100%;
    max-height: auto;
}